mat-toolbar {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 5px;
}

.current-page-class {
  color: var(--mat-sys-primary) !important;
  font-weight: bold;
}
