<mat-toolbar>
  <span>My Application</span>
  <nav>
    <ul>
      <li><a mat-button routerLink="/home" routerLinkActive="current-page-class" ariaCurrentWhenActive="page">Home</a></li>
      <li><a mat-button routerLink="/contact" routerLinkActive="current-page-class" ariaCurrentWhenActive="page">Contact</a></li>
      <li><a mat-button routerLink="/products" routerLinkActive="current-page-class" ariaCurrentWhenActive="page">Products</a></li>
      <li>...</li>
    </ul>
  </nav>
</mat-toolbar>
